<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
</head>

<body>

    <header class="header">
        <h1 class="logo">Flightie</h1>
    </header>

    <main class="app">
        <p class="describtion">
            Flightie helps you discover your next destination
        </p>

        <nav class="nav" id="nav">
            <button class="btn active" data-nav-btn>Search</button>
            <button class="btn" data-nav-btn>Result</button>
        </nav>

        <div id="container">
            <form class="form" id="form">
                <label for="select"></label>
                <label for=" location">
                    location:
                    <input type="text" class="input" id="location" placeholder="Where are you going" required>
                </label>
                <label for="start-date">
                    From:
                    <input type="date" class="input" id="start-date" required>
                </label>
                <label for="end-date">
                    To:
                    <input type="date" class="input" id="end-date" required>
                </label>
                <button class="btn">Search</button>
            </form>

            <dev id="result" class="result">
                <!-- Search Reault -->
                <span class="placeholder">No result yet</span>
            </dev>
        </div>
    </main>

    <!-- Service Worker -->
    <script>
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
                // .then(() => console.log("Service Worker Registered!")) check if service worker work
                // .catch(error => console.warn(error))
            }
        });
    </script>
</body>

</html>