<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
</head>

<body>


    <main>
        <form class="form" id="form">
            <label for="location">
                location:
                <input type="text" id="location" placeholder="location you want to go to" required>
            </label>
            <label for="date">
                date:
                <input type="date" id="date" min="2022-12-10" max="2022-12-20" required>
            </label>
            <label for="days">
                days
                <input type="number" id="days" placeholder="How many days" min="1" required>
            </label>
            <button>Search</button>
        </form>
    </main>

    <!-- Service Worker -->
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>